.container {
    width: 100%;
    height: 100%;
    background: no-repeat center center  url(../../assets/blur.jpg);
    color: aliceblue;
    background-color: rgba(17, 15, 15, 0.6);
    background-size: cover;
    background-blend-mode: darken;
}


