.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/Cool-high-res-backgroundsv3.jpg");
    background-color: rgba(0, 0,0, .6);
    background-size: cover;
    background-blend-mode: darken;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 42vh;
    width: 67vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 45, 46, 0.535);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px;
}

.wrapper h2 {
    color: rgb(53, 178, 34);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapper form input {
    outline: none;
    border: 2px solid rgb(38, 128, 0);
    color: #fff;
    padding: 3px;
    background-color: transparent;
    /* width: 100%; */
}

.wrapper button {
    outline: none;
    margin: 0 auto;
    width: 50%;
    padding: 6px 5px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper button:hover {
    background-color: orangered;
}

.wrapper p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.wrapper p a {
    color: orange;
}