.container {
  min-height: 1200px;
  width: 100%;
}

.wrapper {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h3 {
  font-size: 2rem;
}

.categories{
  display: flex;
  align-items: center;
  gap: 3rem;
  color: yellow;
  margin: 10px 0;
}

.category{
  cursor: pointer;
  background-color:black;
  padding: 5px;
  border-radius: 4px;
  text-transform: capitalize;
  border: 2px solid black;
}

.category.active{
  background-color: orangered;
}

.blogs{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.blog {
  width: 550px;
  height: 650px;
  position: relative;
  margin-bottom: 2.5rem;
  background-color: black;
  border: 2px solid silver;
}

.blogData {
  padding: 0 1rem;
}
.blogData h4{
  font-size:1.4rem;
}

.blog a img {
  height: 60%;
  width: 100%;
}

.categoryAndMetadata {
  margin: .7rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.blog .category {
  cursor: pointer;
  border-radius: 10px;
  padding: .5rem;
  border: 1px solid silver;
}

.metadata {
  display: flex;
  align-items: center;
  gap: .23rem;
}

.blogSummary {
  font-size:18px;
  color: #444;
  line-height: 20px;
  margin: .7rem 0;
}

.authorAndCreatedAt{
  display: flex;
  justify-content: space-between; 
  color: #444;
}

.authorAndCreatedAt > span > span {
  font-size: 15px;
  color: #7b0505;
  font-weight: bold;
}

.readMore {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 120px;
  margin-top: 1.25rem;
  gap: 0.5rem;
  align-items: center;
  background-color: navy;
  padding: 2px;
  border: 2px solid silver;
  transition: all 150ms ease;
}

.noBlogMessage {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #7b0505;
  background-color: black;
  border: 2px solid silver;
  display: inline-block;
  padding: 10px;
}