.container{
  width: 100%; 
  border-bottom: 3px solid #865017;
  background-color: rgba(37, 39, 37, 0.889);
}

.wrapper{
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.logo{
  font-size: 1.8rem;
  font-weight: bold;
  color: orangered;
  text-decoration: none;
  margin-right: 1rem;
}

.navList {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: .5rem
}

.navListItem a{
  font-weight: bold;
  color: rgb(225, 233, 71);
  cursor: pointer;
  transition: all 150ms;
  text-transform: capitalize;
}

.navListItem:hover a{
  color: rgb(58, 130, 121)
}

.controlPan {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controlPan a {
  text-decoration: none;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}
.controlPan a:hover{
  color: yellow;
}

.profile_tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  color: #fff;
  width: 150px;
  background-color: rgb(102, 14, 14);
  padding: 5px;
}

.profile_tab img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color:rgba(10, 57, 57, 0.489);
  top: 3rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* padding: 5px; */
} 

.modal::after{
  content: "";
  /* width: 10px; */
  /* height: 10px; */
  position: absolute;
  top: 0;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgb(192, 186, 186);
}

.modal a{
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
}

.modal a:hover{
  background-color: black;

}

