#BlogPage{
  background-color: var(--dark-primary);
  color: var(--light-primary);
  padding: 10px;
}
.blogCategory{
  width: 100%;
  margin-bottom: 10px;
}

.blogCategory h3{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.category{
  cursor: pointer;
  background-color:var(--dark-secoundary);
  padding: 5px;
  border-radius: 4px;
  text-transform: capitalize;
  border: 2px solid black;
  color: var(--light-primary);
}

.category.active{
  background-color: var(--light-secoundary);
}

.blogs {
  margin-top: 10px;
  width: 100%;
  /* height: 720px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.blog{
  width: 300px;
  height: 500px;
  background-color: var(--dark-primary);
  border: 2px solid var(--light-primary);
}

.blog a {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.blog a img {
  width: inherit;
  height: inherit;
}

.blogDetails {
  padding: 5px;
  font-size: 14px;
}

.categoryMetadata{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:10px;
}

.blogDetails h4{
  margin-bottom: 5px;
  font-size: 18px;
}

.authorAndCreated{
  margin-bottom: 5px;
}

.authorAndCreated span {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}